agent/Deprecation Agent.json
{
  "name": "Deprecation Agent",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "You are API deprecation agent. Your task to find API deprecations for modules. \n\nYou have next tools:\nGet list of modules - use this tool to get list of available modules for scanning\nGet module manifest -  use this tool to get a manifest file for a specific module\n\n\nWhen you got request about scanning for deprecation do next:\n0. Get current date and time\n1. Call 'Get list of modules' to check presence of module.\n2 If module presented use 'Get module manifest' for receiving module manifest file.\n3 Extract main information \n4 Identify presence of major deprecation like deprecation of a specific version.\n5 Check each operation\n6 Generate report\n\nFOR AVOIDING LOST OF INFORMATION -PREFFER TO DO A SMALL REQUEST FOR SEARCH INFORMATION IN WEB AND SAVE RESULTS IN MEMORY\n\nALWAYS USE ONLY OFFICIAL DOCUMENTATION!!! DO NOT USE GITHUB REPOSITORIES!!! USE ONLY OFFICIAL DOCUMENTATION HUB OR OFFICIAL ANNOUNCES. ALWAYS SCHEDULE OF DEPRECATION, EOL, API SUNSET, VERSIONING CHECK\n\nANALYSE CONSIDERING TIMELINE AND CURRENT DATE, IF THERE LESS THAN 6 MONTHS TO SOME CHANGES OF API, OR SOMETHING IT SHOULD BE CONSIDERED AS DEPRECATION\n\nCHECK ONLY REST API!!! NO SDKS AND OTHERS\n\nPROVIDE A REPORT IN NEXT FORMAT:\n```\nModule: module name\nStatus: deprecated/not deprecated\nChanged API version\nChanged operations\n\n```\n\nALWAYS ADD TO REPORT LINKS THAT WERE USED FOR ANALYSIS\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        0
      ],
      "id": "6d9e009d-62ed-4025-9950-f68af27dae8f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        208
      ],
      "id": "5554d632-8d57-403b-8649-a43cf2ca6ba4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "high"
          }
        },
        "options": {
          "timeout": 360000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        336,
        208
      ],
      "id": "8ef416e4-8711-4c72-9c00-b276b65a0ee0",
      "name": "OpenAI Chat Model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "asZTEjWQcoVdkM47",
          "name": "Dep agent"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        848,
        0
      ],
      "id": "1537f7ac-0e9e-4300-8a7d-97b5b871a790",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        256,
        0
      ],
      "id": "bc6a3612-c606-4379-a0d4-a972771caba1",
      "name": "When chat message received",
      "webhookId": "feaf0fb7-42e8-4326-ba07-84afa6e82067"
    },
    {
      "parameters": {
        "description": "Use this tools to get list of available modules for searching for deprecations",
        "workflowId": {
          "__rl": true,
          "value": "9kl5KqBXz6zx9b__tGpje",
          "mode": "list",
          "cachedResultUrl": "/workflow/9kl5KqBXz6zx9b__tGpje",
          "cachedResultName": "Get list of modules"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        624,
        208
      ],
      "id": "ef2b61e0-fff0-43b6-9fa7-ec1bc086e29d",
      "name": "Call 'Get list of modules'"
    },
    {
      "parameters": {
        "description": "Use this tool to get manifest with description of API that are used for specific module.",
        "workflowId": {
          "__rl": true,
          "value": "bU8TZi1rjLC3NZu30srkE",
          "mode": "list",
          "cachedResultUrl": "/workflow/bU8TZi1rjLC3NZu30srkE",
          "cachedResultName": "Get module manifest"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "module": "={{ $fromAI('module', ``, 'string') }}"
          },
          "matchingColumns": [
            "module"
          ],
          "schema": [
            {
              "id": "module",
              "displayName": "module",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        736,
        208
      ],
      "id": "1378fe35-7274-49a0-8411-40aad2237290",
      "name": "Call 'Get module manifest'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        864,
        208
      ],
      "id": "8e0c8ea9-e8a6-4d97-bef4-bee85940789e",
      "name": "Date & Time"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get list of modules'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get module manifest'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0aa4bea8-d674-457e-9ecb-da2c58155e53",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca91b1c1fcab306434737c5db2e2740121e2b04073402ce6d0dbcb9b3cfc534c"
  },
  "id": "gMA73EVwbxrEc70XecuZ3",
  "tags": []
}